<h1>User`s page</h1>

<% @users.each do |user| %>
  <div class='user-block'>
    <%= user.email %>
    <%= link_to  "Request to friend", friendships_path(user_id: user.id), method: :post, class: 'btn btn-warning' %>
    <%= link_to  "Show page", user_path(user), class: 'btn btn-info' %>
  </div>
<% end %>
