<h2>Show user page</h2>

<%= @user.email %>

<%= image_tag  avatar(@user), class: 'avatar' %>

<% @posts.each do |comment| %>
  <div class='post-block'>
    <p><%= comment.text %></p>
  </div>
<% end %>
