<div class='user-block'>
  <%= image_tag  avatar, class: 'avatar-list' %>
  <%= model.email %>
  <%= link_to  "Show page", user_path(model), class: 'btn btn-outline-info' %>
  <%= request_button %>
</div>
